body /*Старанный стиль оформления css, почему так?)*/
{
	font-family: 'Fira Sans', sans-serif;
	margin: 0px;
	background-color: #f6f6f6;
}
a:hover , a {
    color: inherit;
    text-decoration: inherit;
}
.wrapper
{
	width: 100%;
		display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header
{
	height: 80px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);

}
.container
{
width: 940px;
margin: 0 auto;
}

.flexheader
{
	justify-content: center;
	display: flex;
	width: 940px;
	height: 80px;
}
.about_wrapper , .contact_wrapper
{
width: 50%;
display: flex;

}
.about{
	display: flex;
	height: 66px;
	margin: auto 0 ;
}
.mini-photo
{
border: 1px solid #bebebe;
border-radius: 50%;
}
.about__fio
{
margin-left:20px ;
font-size: 18px;
color: rgb(65, 65, 65);
display: flex;

}
.name
{
	margin: auto;
}
.contact_wrapper
{
justify-content: flex-end;
}
.contact{
height: 23px;

display: flex;
margin: auto 0;

}
.contact_link{

  font-size: 18px;
  color: #84dbef;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px dashed #84dbef;
  padding-bottom: 3px; 
}
.contact_link:hover{


  color: #e85f61;
  border-color: #e85f61;

}