body /*Старанный стиль оформления css, почему так?)*/
{
	font-family: 'Fira Sans', sans-serif;
	margin: 0px;
	background-color: #f6f6f6;
}
a:hover , a {
    color: inherit;
    text-decoration: inherit;
}
.wrapper
{
	width: 100%;
		height: 652px;
}
.header
{
	height: 80px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);

}
.container
{
width: 940px;
margin: 0 auto;
}

.flexheader
{
	justify-content: center;
	display: flex;
	width: 940px;
	height: 80px;
}
.about_wrapper , .contact_wrapper
{
width: 50%;
display: flex;

}
.about{
	display: flex;
	height: 66px;
	margin: auto 0 ;
}
.mini-photo
{
border: 1px solid #bebebe;
border-radius: 50%;
}
.about__fio
{
margin-left:20px ;
font-size: 18px;
color: rgb(65, 65, 65);
display: flex;

}
.name
{
	margin: auto;
}
.contact_wrapper
{
justify-content: flex-end;
}
.contact{
height: 23px;

display: flex;
margin: auto 0;

}
.contact_link{

  font-size: 18px;
  color: #84dbef;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px dashed #84dbef;
  padding-bottom: 3px; 
}
.contact_link:hover{


  color: #e85f61;
  border-color: #e85f61;

}
.flexcontent
{

	display: flex;
	height: 100%;
	margin-top: 30px;

}
.aside, .main
{
display: flex;
height: 100%;

}
.aside
{
	width: 220px;
}
.main{
	width: : 720px;
}
.menu__list{
  font-size: 18px;
  font-family: "Fira Sans";
  color: #414141;
  line-height: 1.333;
  text-align: right;
  list-style: none;
}
.menu__list:hover
{

}
ul

{
	width: 100%;
	margin: 0;
	padding: 0;
}
li 
{
	padding-right: 25px;
	padding-top: 17px;
	padding-bottom: 16px;
	height: 45px;
	vertical-align: center;
	box-sizing: border-box;
}
li:hover
{
	color: #33c1e3;
}
.menu__list-active
{
	font-weight: bold;
	border-right: 6px solid #33b9dd;
	color: #33b9dd;
}
.fa
{
	padding-right: 10px;
}
.content_wrapper
{
	display: flex;
	height: 100%;

}
.photo_wrapper, .aboutme_wrapper
{
	display: flex;

}
.photo_wrapper
{
	width: 340px;
	padding-left: 56px;
	box-sizing: border-box;
	padding-right: 56px;

}

.aboutme_wrapper
{
	width: 380px;
}
.myphoto
{
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);



}
h1
{

  font-size: 35px;
  font-family: "Fira Sans";
  color: rgb(65, 65, 65);
  line-height: 1.286;
  margin-top: 0;
  margin-bottom: 30px;

}
.paragraphs
{
	  font-size: 18px;
  font-family: "Fira Sans";
  color: rgb(100, 100, 100);
  line-height: 1.444;
  text-align: left;
  width: 348px;
  height: 317px;
  overflow: scroll;
  margin-bottom:24px; 
}
p
{
	margin: 0px;
	margin-bottom: 24px;
}
.resume
{

text-align: right;
}

a.resume_link
{

        padding: 9px 12px;
    border: 2px solid #e85f61;
    color: #e85f61;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-family: "Open Sans";
  color: rgb(232, 95, 97);
  font-weight: bold;
}
a.resume_link:hover
{
	background-color: #e85f61;
	color: #fff;
}
.fa-download 
{
margin-right: 5px;
}
.footer
{
	height: 50px;
	background-color: #414141;
}
.footerflex
{
	display: flex;
	height: 100%;
}
.footer_info , .footer_links
{
	display: flex;
	width: 50%;
	height: 50px;
}
.footer_info
{
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(156, 156, 156);
}
.footer_links__ul
{
	
	width: 107px;
	height: 30px;
	margin: auto;
	margin-left:  354px;
	display: flex;
}
.ul_list
{
	height: 30px;
}

ul.ul_list li
{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0;
	padding:  0;
}
.footer_info__copyright
{display: flex;
}
.copy
{
	display: flex;
	margin: auto;
}
.fb
{
width: 30px;
	height: 30px;
	background-image: url('images/icons/FaceBook.png')
}
.vk
{

	background-image: url('images/icons/vk.png')
}
.tw
{

	background-image: url('images/icons/Twitter.png')
}

.fb:hover
{

}






