body
{
	font-family: 'Fira Sans', sans-serif;
	margin: 0px;
	background-color: #f6f6f6;
}
.wrapper
{
	width: 1200px;
		height: 652px;
}
.header
{
	height: 80px;
	background-color: #ffffff;

}
.container
{
	width: 940px;
margin: 0 auto;
}

.flexheader
{
	justify-content: center;
	display: flex;
	width: 940px;
	height: 80px;
}
.about_wrapper
{
width: 470px;
display: flex;

}
.contact_wrapper
{
width: 470px;
}
.about{
	display: flex;
	height: 66px;
	margin: auto 0 ;
}
.about__photo
{
	
}
.mini-photo
{
vertical-align: middle;
border: 1px solid #bebebe;
border-radius: 50%;
}
.about__fio
{
margin-left:20px ;
  font-size: 18px;
  color: rgb(65, 65, 65);
  text-align: left;
  display: flex;

}
.name
{
	margin: auto;
}


