@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('http://allfont.ru/allfont.css?fonts=open-sans-bold');

@font-face{

  font-family: 'Firasans_bold';
  src: url('./font/FiraSans-Bold.ttf');


}@font-face{

  font-family: 'Firasans_light';

  src: url('./font/FiraSans-Light.ttf');


}@font-face{

  font-family: 'FiraSans';
  src: url('../../font/FiraSans-Medium.ttf');
  src: url('../../font/FiraSans-Medium.woff') format('woff'),
  url('../../fonts/firasans-medium.svg') format('svg'),
    url('../../font/firasans-medium.eot') format('eot'),
    url('../../font/firasans-medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;


}@font-face{

  font-family: 'fira_sansregular';
  src: url('../fonts/firasans-regular.ttf');
  src: url('../../font/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}





