@media screen and (max-width: 992px){
  .container{
    width: 730px;
  }

.aside
{
  display:block;
  width:100%;
}
  .flexcontent{
    display: block;
  }
  .nav__list{
    text-align: left;
  }
  .nav__item
  {
  display:inline-block;
    border:none;
              }
  .nav__item_active .nav__link {
    border:none;

  }
  .main
  {

    padding-top:46px;
  }
  .myphoto{
    width: 175px;
    height: 175px;
  }
  .photo_wrapper
  {
    margin:0px  46px ;
    width: 185px;
    padding: 0;
  }
  .paragraphs
  {
    width: 437px;
  }
  .wrapper
  {

    height: 100%
  }
  .aboutme_wrapper{
    width:437px;
  }
  .footer_links__ul {

    margin-left: 250px;
  }
  .stuff{
    width:100%;
    margin: 0;
    padding:0;

  }
  .career_header {
    margin-bottom: 34px;
  }
  .career__right{
    padding-left:144px;
  }
  .career{
    margin-bottom: 50px;
    padding-top: 50px;
  }
  .portfolio
  {
    padding-top: 37px;
    margin-bottom: 50px;
  }
  .portfolio__list
  {
    margin-left: -20px;
  }
  .portfolio__header{
    margin-bottom: 32px;
  }
  .portfolio__item
  {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
